.event-status-text {
    padding: 3px 10px;
    margin: 0px;
    border-radius: 5px;
    color: white !important;
}

.status-warning {
    background-color: #ff9800 !important;
}

.status-danger {
	background-color: #ff5722 !important;
}

.status-success {
	background-color: #4caf50 !important;
}