.crop-box-container {
    width: 80vw;
    height:80vh;
    position: fixed;
    top: 5vh;
    left: 5vw;
}

.error-label {
    color:red !important;
    font-size: 0.6rem !important;
    text-transform: unset !important;
}

.error-field {
    border-color: #ff8888 !important;
    background: #fff8f8 !important;
}

.signup-interests-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
}

.signup-interests-card:hover {
    border:1px solid #3d70b2;
}

body.is-dark .signup-interests-card {
    color:white;
    background-color: #3d70b26b;
}

body.is-dark .signup-interests-card:hover {
    color:white;
    background-color: #3d70b26b;
}

.signup-interests-card.is-selected, body.is-dark .signup-interests-card.is-selected {
    border:1px solid #3d70b2;
    -webkit-box-shadow: 0 14px 26px -12px rgba(61, 112, 178, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(61, 112, 178, .2) !important;
	box-shadow: 0 14px 26px -12px rgba(61, 112, 178, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(61, 112, 178, .2) !important
}


@media screen and (max-width: 767px)
{
    .error-label {
        display: block;
        margin-bottom: 5px;
    }
}